<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Philip Thongkhamchanh, Web developer" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <link rel="preconnect dns-prefetch stylesheet" href="https://rsms.me/inter/inter.css" defer />
  </head>
  <body aurelia-app="main" style="background-color: #fce96a;"></body>
</html>
