@tailwind base;
@tailwind components;

body {
  background-color: #fce96a;
}

.svg-bg {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjRkZGIj48L3JlY3Q+Cjwvc3ZnPg==");
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

@tailwind utilities;
